body{
    background-color: lightblue;
    text-align: center;
}
table{
    width: 300px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
td{
    border: 1px solid #333;
}
h1{
  color: #000080;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}
div.field{
    padding-bottom: 5px;
}
div.field label{
    display: block;
    width: 70px;
    height: 15px;
}
